* {
    background-color: blue;
}

.Tittel {
    position: relative;
    left: 400px;
    font-size: 45px;
}

.Spill1 {
    position: absolute;
    background-color: red;
    left: 40px;
    width: 550px;
    height: 225px;
    top: 100px;
    border-style: solid;
}

.Spill2 {
    position: absolute;
    background-color: red;
    left: 40px;
    width: 550px;
    height: 225px;
    top: 350px;
    border-style: solid;
}
.Spill3 {
    position: absolute;
    background-color: red;
    left: 650px;
    width: 550px;
    height: 225px;
    top: 100px;
    border-style: solid;
}
.Spill4 {
    position: absolute;
    background-color: red;
    left: 650px;
    width: 550px;
    height: 225px;
    top: 350px;
    border-style: solid;
}

.Spill_navn1 {
    position: relative;
    left: 0px;
    top: 0px;
}