body {
    background-image: url('../img/fifa/fifa_background.jpg');
    overflow: hidden;
}

img {
    max-width: 80px;
    border: solid 3px;
    border-radius: 50%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-text {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.main-box {
    display: flex;
    justify-content: center;
    padding: 120px;
    margin-top: -100px;
}

.secondary-box {
    background-color:darkred;
    opacity: 80%;
    padding: 20px 80px 80px 80px;
    box-sizing: border-box;
    width: 1500px;
    height: 900px; 
}

.header {
    text-align: center;
    line-height: 5px;
}

.column-topleft-sec1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -10px;
}

.players-topleft-sec1 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shared-column-topleft-sec2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 150px;
    margin-top: -320px;
}

.shared-column-topleft-sec2-upper,
.shared-column-topleft-sec2-lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-topleft-sec2 {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 1px 2px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.player-icon-sec2 {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.column-topleft-sec3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 275px;
    margin-top: -150px;
}

.players-topleft-sec3 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column-topleft-sec4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 400px;
    margin-top: 100px;
}

.players-topleft-sec4 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.column-topright-sec1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-top: -322px;
}

.players-topright-sec1 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.shared-column-topright-sec2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: -150px;
    margin-top: -320px;
    float: right;
}

.shared-column-topright-sec2-upper,
.shared-column-topright-sec2-lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-topright-sec2 {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 1px 2px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.player-icon-sec2-topright {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}


.column-topright-sec3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-right: 300px;
    margin-top: -199px;
}

.players-topright-sec3 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.column-topright-sec4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-right: 450px;
    margin-top: -25px;
}

.players-topright-sec4 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.column-botleft-sec1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-left: -10px;
}

.players-botleft-sec1 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shared-column-botleft-sec2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 150px;
    margin-top: -320px;
}

.shared-column-botleft-sec2-upper,
.shared-column-botleft-sec2-lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-botleft-sec2 {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 1px 2px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.player-icon-sec3 {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.column-botleft-sec3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 270px;
    margin-top: -150px;
}

.players-botleft-sec3 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column-botleft-sec4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 400px;
    margin-top: -200px;
}

.players-botleft-sec4 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.column-botright-sec1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-top: -25px;
}

.players-botright-sec1 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shared-column-botright-sec2 {
    display: flex;
    flex-direction: column;
    gap: 100px;
    float: right;
    margin-left: -150px;
    margin-top: -320px;
}

.shared-column-botright-sec2-upper,
.shared-column-botright-sec2-lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.players-botright-sec2 {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 1px 2px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.player-icon-sec4 {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.column-botright-sec3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 102px;
    margin-right: 200px;
    float: right;
}

.players-botright-sec3 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column-botright-sec4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-right: 50px;
    margin-top: -25px;
}

.players-botright-sec4 {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column-midleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 510px;
    margin-top: -70px;
}

.players-midleft {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.column-midright {
    display: flex;
    flex-direction: column;
    gap: 20px;
    float: right;
    margin-right: 10px;
    margin-top: -70px;
}

.players-midright {
    border: 1px solid white;
    padding: 3px;
    width: 100px;
    background-color: white;
    color: black;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}