.Tittel {
    position: absolute;
    left: 400px;
    font-size: 45px;
}

.Spill1 {
    position: absolute;
    background-color: red;
    left: 50px;
    width: 600px;
    height: 300px;
    top: 100px;
    border-style: solid;
}

.Spill2 {
    position: absolute;
    background-color: red;
    left: 50px;
    width: 600px;
    height: 200px;
    top: 400px;
    border-style: solid;
}
.Spill3 {
    position: absolute;
    background-color: red;
    left: 800px;
    width: 600px;
    height: 200px;
    top: 100px;
    border-style: solid;
}
.Spill4 {
    position: absolute;
    background-color: red;
    left: 800px;
    width: 600px;
    height: 200px;
    top: 400px;
    border-style: solid;
}